---
layout: default
title: City of Chicago Open Data Annual Report 2013
---

<div id="loading">
  <!-- <img src="img/Chicago_city_seal.png" /> -->
  <h1>Open Data</h1> 
  <p>Annual Report</p>
  <h1>2013</h1>
</div>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <!-- <a class="brand" href="#"><img class="cfalogo" src="img/Chicago-muni-flag.png"> -->
      <!-- Everything you want hidden at 940px or less, place within here -->
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          <li class="navexecutiveorder"><a href="#">Executive Order</a></li>
          <li class="navopendata"><a href="#">Open Data</a></li>
	  <li class="navportalstats"><a href="#">Data Portal</a></li>
          <li class="navinitiatives"><a href="#">Key Initiatives</a></li>
          <li class="navdatasets"><a href="#">Upcoming Datasets</a></li>
          <li class="navletter"><a href="#">Open Letter</a></li>
        </ul> <!-- nav -->
      </div> <!-- collapse -->
    </div> <!-- container -->
  </div> <!-- navbar-inner -->
</div> <!-- navbar -->





{% for p in site.posts %}

{% if p.url != "/index.html" %}
<div class="pagebg {{ p.pagetype }} {{ p.image }}" style="background-color:#{{ p.bgcolor }};" >
</div>
{% endif %}
{% endfor %}  


<div id="page">
  <div class="sidebar">

    {% for p in site.posts %}

    <div class="sidebartitle" >

      <h1>2013</h1>
      {% if p.title != "stats" %}
      <h2>{{ p.title }}</h2>

      {% endif %}
    </div>

    {% endfor %}
    
  </div>
  
  {% for p in site.posts %}

  {% if p.url != "/index.html" %}
  <a name="{{ p.section }}"></a>
  <div class="page {{ p.pagetype }}" style="background-color:#{{ p.bgslide }};padding-top:{{ p.extrapadding }}" data-section="nav{{ p.section }}">
    {{ p.content | markdownify }}
    <div class="clear"></div>  
  </div>
  {% endif %}
  {% endfor %}

</div>

<div class="sharebutton">
 <a href="http://www.github.com/Chicago/open-data-annual-report"><img src="img/dev.png" alt="Download source" width="44" height="44" /></a>  <a href="http://report.cityofchicago.org/open-data-2013.pdf"><img src="img/download.png" alt="Download PDF" width="44" height="44" /></a>
 <br />
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://report.cityofchicago.org/open-data-2013" data-text="Take a look at @ChicagoCDO open data annual report:">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
